.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    padding-left: 0;
    text-decoration: none;
    color: white;
    transition-duration: 1s;
}

.footer__column-link:hover {
    opacity: 0.5;
}