.feynman__link {
    min-height: 36px;
    align-items: center;
    margin-left: auto;
    position: absolute;
    top: 50%;
    right: 48px;
    width: max-content;
    line-height: 51px;
    font-size: 36px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    transition-duration: 2s;
}

.feynman__link:hover {
    opacity: 0.5;
}